---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "astro:assets";
import aboutImage from "../assets/about.png";
import { Icon } from "astro-icon";

const values = [
  {
    title: "Innovation", 
    description: "We're constantly pushing boundaries to create exceptional experiences.",
    icon: "ph:lightbulb-fill",
  },
  // ... other values
];
---

<Layout title="About">
  <Container>
    <div class="max-w-screen-xl mx-auto px-5">
      <div class="mt-16 text-center">
        <h1 class="text-gradient-animation text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
          About
        </h1>
        <p class="text-lg mt-4 text-slate-600">
          We are a small but passionate team.
        </p>
      </div>

      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-3xl text-gray-800">
          Empowering hosts <em>and</em> guests with TouchGuides.
        </h2>
        <p class="text-lg leading-relaxed text-slate-500">
          Transform stays into stories worth sharing with a digital guidebook. Spend less time answering guests!
        </p>
      </div>

      <div class="grid md:grid-cols-1 gap-10 mx-auto max-w-xs mt-12">
        <div class="group">
          <div class="w-full aspect-square">
            <picture>
              <source srcset="https://mir-s3-cdn-cf.behance.net/user/276/2843061.54348e356f631.png" type="image/webp" sizes="(max-width: 800px) 100vw, 400px">
              <img 
                src="https://mir-s3-cdn-cf.behance.net/user/276/2843061.54348e356f631.png"
                alt="Elon Zito"
                sizes="(max-width: 800px) 100vw, 400px"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
                width="400"
                height="400"
                loading="lazy"
                decoding="async"
              >
            </picture>
          </div>
          <div class="mt-4 text-center">
            <h2 class="text-lg text-gray-800">Elon Zito</h2>
            <h3 class="text-sm text-slate-500">Founder</h3>
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
