---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Personalized Recommendations",
    description:
      "Hosts can curate a list of local attractions, restaurants, and hidden gems that align with their guests' preferences and interests.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Interactive Digital Guidebook",
    description:
      "TouchGuides replaces traditional printed guidebooks with an interactive digital platform that guests can access on their smartphones or tablets.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Transform Stays into Stories Worth Sharing",
    description:
      "By transforming stays into memorable stories, TouchGuides encourages guests to share their experiences with friends and family, boosting positive word-of-mouth for hosts.",
    icon: "bx:bxs-data",
  },
  {
    title: "Time-Saving Solution",
    description:
      "By having all the necessary details readily available, guests can find answers to their queries independently, allowing hosts to focus on other aspects of their hosting responsibilities.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Offline Accessibility",
    description:
      "Guests can download the guidebook before their trip, enabling them to access maps, recommendations, and other relevant details while exploring the destination.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Seamless Integration",
    description:
      "Hosts can quickly input information, upload images, and customize the guidebook to reflect their unique hosting style.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to host
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    TouchGuides allows hosts to create personalized recommendations for their guests, ensuring a unique and memorable stay.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
