---
import { Picture } from "astro:assets";
import iphone from "assets/hero-no-shadow.png";
import shadow from "assets/shadow.png";
import searchAnimation from "assets/search-animation.webm";
import Link from "@components/ui/link.astro";
import ParticleButton from "@components/ui/ParticleButton.astro";
import { Icon } from "astro-icon";

const PORTAL_URL = import.meta.env.PUBLIC_PORTAL_URL;
---

<main
  class="relative grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <!-- <div class="gradient-mesh"></div> -->
  <div class="py-6 md:order-1 md:block">
    <div class="relative group">
      <!-- <video
        autoplay
        muted
        playsinline
        class="absolute bottom-0 w-24 h-24 object-cover"
      >
        <source src={searchAnimation} type="video/webm" />
      </video> -->
      <!-- <div class="gradient-hover"></div> -->
      <div class="hero-image floating-animation">
        <Picture 
          src={iphone} 
          alt="TouchGuides app on an iPhone" 
          width={600} 
          height={400}
        />
      </div>
      <Picture 
        src={shadow} 
        alt="TouchGuides app on an iPhone" 
        width={600} 
        height={400}
        class="absolute top-60 left-0 w-full h-full opacity-20"
      />

      <!-- <div class="gradient-glow"></div> -->
    </div>
  </div>
  <div>
    <h1
      class="text-gradient-animation text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter xl:leading-tight">
      Modernize Your Campground Operations.
    </h1>
    <p class="text-2xl mt-4 text-slate-600 max-w-xl shimmer">
      Digital Guidebooks & AI Reservations
    </p>
    <p class="text-md mt-4 text-slate-600 max-w-xl">
      Streamline your campground management with our all-in-one software suite. Let AI handle your reservations 24/7 while digital guidebooks delight your guests.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <ParticleButton
        href={`${PORTAL_URL}/sign-up`}
        class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud" />
        Get Started
      </ParticleButton>
      <ParticleButton
        href="/features" inverted>
        Learn More
      </ParticleButton>
    </div>
  </div>
</main>

<style>
  .floating-animation {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>
