---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import ReturnToTop from "@components/ui/ReturnToTop.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "TouchGuides"
  : "TouchGuides - digital guidebooks for vacation homes";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="TouchGuides is a digital guidebook for vacation homes."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `TouchGuides - digital guidebooks for vacation homes`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "TouchGuides Homepage",
        },
      }}
    />
  </head>
  <body>
    <div class="flex flex-col min-h-screen overflow-hidden">
      <Navbar />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
      <ReturnToTop />
    </div>
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      /* Prevent content gaps */
      .flex-col > * {
        margin-bottom: 0;
      }
      
      /* Remove default margins that might cause gaps */
      body {
        margin: 0;
      }
      
      main {
        display: flex;
        flex-direction: column;
      }
    </style>
  </body>
</html>
